<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns="http://www.springframework.org/schema/security" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
  http://www.springframework.org/schema/beans/spring-beans-3.2.xsd   
 http://www.springframework.org/schema/security    
http://www.springframework.org/schema/security/spring-security-3.2.xsd">

	<http use-expressions="true" auto-config="true">
		<logout logout-url="/user/logout" />
		<intercept-url pattern="/index" requires-channel="http" />
		<intercept-url pattern="/temperature/**" access="hasRole('ROLE_ADMIN') or hasRole('ROLE_USER')" requires-channel="http"/>
		<intercept-url pattern="/admin/**" access="hasRole('ROLE_ADMIN')" requires-channel="http"/>
		<form-login login-processing-url="/j_spring_security_check"
			login-page="/signIn" authentication-failure-url="/user/userNotFound" />
		<remember-me key="Key" token-validity-seconds="2629743" />
	</http>

	<!-- <user-service id="userService"> <user name="admin" password="admin" 
		authorities="ROLE_ADMIN, ROLE_MANAGER"/> <user name="manager" password="manager" 
		authorities="ROLE_MANAGER"/> </user-service> -->

	<jdbc-user-service id="userService" data-source-ref="dataSource"
		users-by-username-query="select login as username, password, active from users where login=?"
		authorities-by-username-query="select u.login as username,  ug.group_identifier from users u JOIN users_user_group uug  JOIN user_group ug ON uug.users_user_id=u.user_id AND uug.userGroups_group_id=ug.group_id AND u.login=?" />

	<authentication-manager>
		<authentication-provider user-service-ref="userService" />
	</authentication-manager>
	<beans:bean
		class="org.springframework.security.web.access.expression.DefaultWebSecurityExpressionHandler" />
</beans:beans>